/* src/styles/Filter.module.css */
.filterContainer {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.filterButton {
  background-color: #ff69b4;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Pacifico', cursive;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownMenu button {
  background-color: white;
  color: #333;
  padding: 10px 20px;
  text-align: left;
  border: none;
  cursor: pointer;
  font-family: 'Pacifico', cursive;
}

.dropdownMenu button:hover {
  background-color: #f1f1f1;
}

/* Media Queries */
@media (max-width: 1024px) {
  .filterButton {
    padding: 8px 16px;
    font-size: 14px;
  }

  .dropdownMenu button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .filterButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .dropdownMenu button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .filterButton {
    padding: 4px 8px;
    font-size: 10px;
  }

  .dropdownMenu button {
    padding: 4px 8px;
    font-size: 10px;
  }
}
