@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* Add custom font */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.6); /* Set transparent background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fix the position to the top */
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* Ensure the header spans the full width */
  z-index: 1000;
  overflow: hidden; /* Ensure no overflow */
}

.logo {
  font-family: 'Pacifico', cursive; /* Apply custom font */
  font-size: 2rem; /* Adjust the font size */
  color: #FFFFFF; /* Set the color to white */
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the nav items */
  flex-grow: 1; /* Allow the nav to grow and take up available space */
  margin-left: -2rem; /* Adjust margin to move the items to the left */
}

.nav a {
  text-decoration: none;
  color: #FFFFFF; /* White color for links */
  font-size: 1.5rem; /* Increased font size */
  font-weight: 500;
  margin: 0 1.5rem; /* Adjust the margin to provide space between links */
  position: relative;
  font-family: 'Pacifico', cursive; /* Apply the custom font */
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav a:hover {
  color: #d81b60; /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.nav a::after {
  content: '';
  display: block;
  height: 2px;
  background: #d81b60;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav a.active::after,
.nav a:hover::after {
  transform: scaleX(1);
}

/* Media Queries */
@media (max-width: 1024px) {
  .nav a {
    font-size: 1.2rem;
    margin: 0 1rem;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .nav a {
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.5rem;
  }

  .nav a {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}
